<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DailyTrivia</title>
    <style>
        .html,body{
            background-color: rgb(233, 255, 151);
            color: white;
        }
        .selectorSection{
            width: 60%;
            margin-top: 20%;
            margin-left: 20%;
            padding: 10px;
            border-radius: 10px;
            background-color: rgb(255, 209, 142);
            justify-content: center;
            text-align: center;
        }
        select{
            background-color: rgb(255, 163, 143);
            color: white;
            border-color: white;
            border-radius: 10rem;
        }
        div div{
            margin-top: 20px;
        }
        input{
            background-color: rgb(255, 163, 143);
            border-color: white;
            border-radius: 10rem;
            color: white;
        }
        input[type='radio']:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: rgb(255, 163, 143);
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid rgb(255, 255, 255);
        }
        input[type='radio']:checked:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: #ffa500;
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid rgb(0, 0, 0);
        }   
        .submit{
            background-color: rgb(255, 126, 226);
            border-radius: 10rem;
            border-color: white;
            color: white;
        }
    </style>
</head>
<body>
    <div class="selectorSection">
        <form action="/selectedtrivia" method="GET">

            <div class="selectCategoryDiv">
                <label for="selectCategoryInput">Choose a category:</label>
                <select name="selectCategoryInput" id="selectCategory">
                <option value="">Any</option>
                <option value="9">General Knowledge</option>
                <option value="10">Books</option>
                <option value="11">Film</option>
                <option value="12">Music</option>
                <option value="13">Musical and Theaters</option>
                <option value="14">Television</option>
                <option value="15">Video Games</option>
                <option value="16">Board Games</option>
                <option value="17">Science and Nature</option>
                <option value="18">Computers</option>
                <option value="19">Mathematics</option>
                <option value="20">Mythology</option>
                <option value="21">Sports</option>
                <option value="22">Geography</option>
                <option value="23">History</option>
                <option value="24">Politics</option>
                <option value="25">Art</option>
                <option value="26">Celebrities</option>
                <option value="27">Animals</option>
                <option value="28">Vehicles</option>
                <option value="29">Comics</option>
                <option value="30">Gadgets</option>
                <option value="31">Anime and Manga</option>
                <option value="32">Cartoons and Animations</option>
                </select>
            </div>
            
            <div class="selectNumberDiv">
                <label for="numberOfQuestionsInput">Enter the number of questions you would like: </label>
                <br>
                <input type="number" name="numberOfQuestionsInput" id="numberOfQuestionsInput">    
            </div>

            <div class="selectDifficultyDiv">
                <label>Select your difficulty:</label><br>
                <input type="radio" name="difficultyInput" id="easy" value="easy">
                <label for="easy">Easy</label>
                <br>
                <input type="radio" name="difficultyInput" id="medium" value="medium">
                <label for="medium">Medium</label>
                <br>
                <input type="radio" name="difficultyInput" id="hard" value="hard">
                <label for="hard">Hard</label>
                <br>
                <input type="radio" name="difficultyInput" id="" value="">
                <label for="any">Any</label>
                <br>
            </div>

            <div class="selectTypeDiv">
                <label>Select the type of questions:</label><br>
                <input type="radio" name="typeInput" id="multiple" value="multiple">
                <label for="multipleChoice">Multiple Choice</label>
                <br>
                <input type="radio" name="typeInput" id="boolean" value="boolean">
                <label for="true/false">True/False</label>
                <br>
                <input type="radio" name="typeInput" id="" value="">
                <label for="any">Any</label>
                <br>
            </div>
            <br>
            <input class="submit" type="submit">
        </form>
    </div>
</body>
</html>