<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DailyTrivia</title>
    <style>
        .html,body{
            background-color: rgb(233, 255, 151);
        }
        .selectorSection{
            width: 60%;
            margin-top: 20%;
            margin-left: 20%;
            padding: 10px;
            border-radius: 10px;
            background-color: rgb(255, 209, 142);
            justify-content: center;
            text-align: center;
        }
        div div{
            margin-top: 20px;
        }
        input{
            background-color: rgb(255, 163, 143);
        }
        input[type='radio']:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: rgb(255, 163, 143);
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid rgb(0, 0, 0);
        }
        input[type='radio']:checked:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: #ffa500;
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid rgb(0, 0, 0);
        }   
        .submit{
            background-color: rgb(255, 163, 143);
            border-radius: 10rem;
        }
    </style>
</head>
<body>
    <div class="selectorSection">
        <form action="/selectedtrivia" method="GET">
            
            <div class="selectNumberDiv">
                <label for="numberOfQuestionsInput">Enter the number of questions you would like: </label>
                <br>
                <input type="number" name="numberOfQuestionsInput" id="numberOfQuestionsInput">    
            </div>

            <div class="selectDifficultyDiv">
                <label>Select your difficulty:</label><br>
                <input type="radio" name="difficultyInput" id="easy" value="easy">
                <label for="easy">Easy</label>
                <br>
                <input type="radio" name="difficultyInput" id="medium" value="medium">
                <label for="medium">Medium</label>
                <br>
                <input type="radio" name="difficultyInput" id="hard" value="hard">
                <label for="hard">Hard</label>
                <br>
                <input type="radio" name="difficultyInput" id="any" value="any">
                <label for="hard">Any</label>
                <br>
            </div>

            <div class="selectTypeDiv">
                <label>Select the type of questions:</label><br>
                <input type="radio" name="typeInput" id="multipleChoice" value="multipleChoice">
                <label for="multipleChoice">Multiple Choice</label>
                <br>
                <input type="radio" name="typeInput" id="true/false" value="true/false">
                <label for="true/false">True/False</label>
                <br>
                <input type="radio" name="typeInput" id="any" value="any">
                <label for="any">Any</label>
                <br>
            </div>
            <br>
            <input class="submit" type="submit">
        </form>
    </div>
</body>
</html>