<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=questionsArray[0].category%></h1>
    <p><%=questionsArray[0].question%></p>
</body>
</html>